  
  .page {
    flex: 1;
    padding: 1rem;
  }
  
  .page-with-navbar {
    margin-left: 10%;
  }
  
  @media screen and (max-width: 1490px) {
    .page-with-navbar {
      margin-left: 12.5%;
    }
  }