.filter-container button {
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    min-width: 4rem;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 2rem;
    border: 2px solid white;
    background: #1e1e1e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.filter-container button:active {
    background: white;
    color: #1e1e1e;
}