.sort-dropdown-container {
    position: relative;
    display: inline-block;
    bottom: 0.3rem;
  }
  
  .sort-dropdown-container select {
    width: 14rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    background-color: #fff;
    appearance: none;
  }
  
  .sort-dropdown-container::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    font-size: 0.9375rem;
    color: #6b6a6a;
    pointer-events: none; 
  }
  
  .sort-dropdown-container select:focus {
    outline: none;
    border-color: #aaa;
  }
  
  